body{
    display:flex;
    background-color: rgb(243, 150, 206);
    font-family:arial sans-serif;
    align-items: center;
    text-align: center;


}
.please{
    display:flex;
    flex-direction: row;
    width: 100px;
    height:100px;
    background-color:rgb(222, 88, 110);
    color:rgb(255, 18, 73);
}

.chorus{
    display:flex;
    flex-direction: column;
    width: 100px;
    height:100px;
    background-color:rgb(222, 88, 110);
    color:rgb(255, 18, 73);
}


.verse2{
    display:flex;
    flex-direction: column;
    width: 100px;
    height:100px;
    background-color:rgb(222, 88, 110);
    color:rgb(255, 18, 73);
}

