*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    font-family: "Outfit", serif;
    

}

.blue{
    background-color: hsl(216, 50%, 16%);
    height:700px;
    width: 500px;
    border-radius: 20px;
    color:white;
    padding-bottom:50px;
    padding:30px;
    
}


.blue p{
    color:hsl(215, 51%, 70%);
    font-size:18px;
    margin-left:20px;
}

.blue img{
    width:390px;
    height:350px;
    border-radius: 20px;
    margin-left:25px;
    margin-top:20px;
    margin-bottom:30px;
    
}

.blue h1{
    margin-left:20px;
    font-size: 30px;
}

.cyan{
    margin-right:20px;
    color:hsl(178, 100%, 50%);
    
}


.icon1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}

.icon2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}
.icon3{
    display: flex;
    flex-direction: row;
   
    

}


#w{
    width:17px;
    height:20px;
    padding:0
    
}


#clock{
    width:20px;
    height:20px;
    padding:0
}

.thin{
    height:2px;
    width:400px;
    background-color:hsl(215, 32%, 27%);
}

#avatar{
    width:30px;
    height:35px;
    padding:0
}