
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(178, 190, 225); 
    
}


.card {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    height: 700px; 

}


.QR {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px; /* Space between qr and text */
}

.QR img {
    width: 350px;
    height: 350px;
    border-radius: 10px;
}


.card h3 {
    font-size: 20px; 
    color: #333; 
    font-weight: bold;
    margin-bottom: 10px; 
    text-align: center;
}

.card p {
    font-size: 16px;
    color: #666; 
    text-align: center; 
}
