*{
    margin: 0;
    padding: 0;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    background-color: antiquewhite;
    
}


.perfume img{
    width:298px;
    height:450px;
    border-radius: 30px;
    padding-right:83px;
    padding-top:2px;
}







.parent{
    margin-top:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width:560px;
    height:450px;
    margin-left:100px;
    margin-right:px;
    background-color: white;
    border-radius: 30px;
    padding-right: 50px;
}



.text{
    margin-top:20px;
    
    
}



.text img{
    width:100px;
    height:40px;
    
}

.text button{
    padding:19px;
    width:100px;
    border-radius: 20px;
    font-size:10px;
    background-color: rgb(5, 113, 81);
    color:white;
    box-shadow: 10px 10px rgb(6, 126, 144);
}



.add{
    display: flex;
    flex-direction: row;
}