body{
    display: flex;
    background-color: rgb(169, 201, 201);
    align-items: center;
    text-align: center;
}


.GOA-W{
    display:flex;
    flex-direction:row ;
    height: 100px;
    width: 100px;
    margin: 50px;

}

.novatori-trash{
    display:flex;
    flex-direction:row;
    height:100px;
    width:100px;
   
}

.school{
    display:flex;
    flex-direction: column;
    height: 100px;
    width: 100px
}


/*evel 93:
     1) შექმენით დივი რომელშიც იქნება მოთავსებული ორი დივი, ამ ორ დივს ექნება სიმაღლე და სიგანე 100Px ასევე მიანიჭეთ სხვადასხვა ბექგრაუნდის ფერები, ჩასვით მათ შორის ერთი ტექსტიც, შემდეგ კი განალაგეთ ეს ყველაფერი ჰორიზონტალურად flex ის გამოყენებით 

    შექმენით მეორე მზგავსი დივი მზგავსი ელემენტებით და განალაგეთ flex ის გამოყენებით ვერტიკალურად

    შექმენით მესამე მზგავსი დივი მზგავსი ელემენტებით და განალაგეთ flex ის გამოყენებით ვერტიკალურად და თან შემოაბრუნეთ 

    შექმენით მეოთხე მზგავსი დივი მზგავსი ელემენტებით და განალაგეთ flex ის გამოყენებით ჰორიზონტალურად და თან შემოაბრუნეთ*/