input.rdf {
    border: 3px dashed pink;
   
}

input.rdm {
    border: 5px dotted rgb(255, 255, 0) /*red plus green = yelllow */
}

input.rde{
    border: 7px solid rgb(0,255,255) /*green plus blue = cyan*/
}

input.rdl{
    border: 25px dotted rgb(255, 0, 255)
}

input.rdk{
    border: 1px dashed rgb (0,255,0) ;
    padding:2px;
}

input#rdj{
    border: 2px solid rgb(0, 0, 0);
    padding:4px;
}