*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(30 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#section1{
    background-color: #fff;
    padding: 50px;
    border-radius: 40px;
    display: flex;
    flex-direction: column; 
    gap: 15px;
    width: 700px;
    margin-top: 50px;
}

#section1 img{
   
    width: 40rem;
    padding-right:40px;
    border-radius: 20px;
}

#section1 h1{
    font-size: 3.3rem;
    font-family: "Young Serif", serif;
    font-weight: 600;
}

.par{
    font-size: 1rem; 
    opacity: 70%;
    font-weight: 500;
}

.preparation{
    background-color: hsl(330, 100%, 98%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    padding: 37px;
    margin-top: 12px;
    margin-right:5px;
}

.preparation h2{
    color: hsl(332, 51%, 32%);
    font-size: 1.6rem; 
}


.preparation ul{
    list-style-position: outside;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.2rem;
    opacity: 65%;
    font-weight: 300px;
    margin-left: 33px;
}


.preparation ul li{
    padding-left:25px;
}

.Ingeredients{
    display: flex;
    flex-direction: column;
    gap:15px;
    margin-top: 20px;
}

.Ingeredients h2{
    color: hsl(14, 45%, 36%)
}

.Ingeredients ul{
    display: flex;
    flex-direction: column;
    gap:15px;
    opacity: 60%;
    font-weight: 600;
    margin-left: 20px;
}

.Ingeredients ul li{
    padding-left: 20px;
}