.L{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  }
  
  
  .W {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  
