body{
    display:flex;
    justify-content: center;
    background-color: rgb(5, 4, 6);
    color:white
}


#er{
    display:flex;
    flex-direction: row;
    gap:22px;
}





/*1) შექმენით ერთი დიდი დივი სადაც შექმნით კიდეც 5 დივს და ამ დივებს x ღერძზე გადაიტანთ ცენტრში


) ერთ დიდ დივში x,y  ღერძზე გადაიტანეთ ცენტრში შიგნით მყოფი 3 დივი*/
