*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 95%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100vh;
    font-family: 'Lexend Deca', sans-serif;

}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}





.orange{
    background-color: hsl(31, 77%, 52%);
    width:300px;
    height:500px;
    color:hsl(0, 0%, 95%);
    border-radius: 5px 0px 0px 5px;
    margin-top:40px;
    font-family: 'Big Shoulders Display', sans-serif;
}

.orange h2{ 
    margin-top:130px;
    font-size: 40px;
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 100;
    letter-spacing: -3px;
    margin-left: 30px;
    

}

.orange p{
    line-height: 1.5;
    font-size: 1rem;
     color:hsla(0, 0%, 100%, 0.75);
     margin-left: 30px;
     line-height: 30px;
     position: relative;
}

.orange button{
    padding: 15px ;
    width:150px;
    border-radius:30px ;
    border: none;
    margin-top:70px;
    margin-left: 30px;
    color:hsl(31, 77%, 52%);
    font-weight: bold;
    margin-bottom: 50px;

}

.blue{
    background-color: hsl(184, 100%, 22%);
    width:300px;
    height:500px;
    color:hsl(0, 0%, 95%);
    border-radius: 0px 0px 0px 0px;
    margin-top:40px;
}
.blue h2{
    margin-top:130px;
    font-size: 40px;
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 100;
    letter-spacing: -3px;
    margin-left: 30px;
    
}

.blue p{
    line-height: 1.5;
    font-size: 1rem;
     color:hsla(0, 0%, 100%, 0.75);
     margin-left: 30px;
     line-height: 30px;
}
.blue button{
    padding: 15px ;
    width:150px;
    border-radius:30px ;
    border: none;
    margin-top:70px;
    margin-left: 30px;
    color:hsl(184, 100%, 22%);
    font-weight: bold;
}




.green{
    background-color: hsl(179, 100%, 13%);
    width:300px;
    height:500px;
    color:hsl(0, 0%, 95%);
    border-radius: 0px 5px 5px 0px;
    margin-top:40px;
}

.green h2{
    margin-top:130px;
    font-size: 40px;
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 100;
    letter-spacing: -3px;
    margin-left: 30px;
    
    
}

.green p{
    line-height: 1.5;
    font-size: 1rem;
     color:hsla(0, 0%, 100%, 0.75);
     margin-left: 30px;
     line-height: 30px;
}

.green button{
    padding: 15px ;
    width:150px;
    border-radius:30px ;
    border: none;
    margin-top:70px;
    margin-left: 30px;
    color:hsl(179, 100%, 13%);
    font-weight: bold;
    
}

img{
    margin-top: 30px;
    margin-left:20px;
}


button:hover{
    background-color: rgb(198, 198, 198);
    opacity: 30px;
    width:152px;
}

