*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




body{
    background-image: url('./istockphoto-498478219-612x612.jpg');
    background-repeat: repeat(1000px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.solar{
   
    margin-top: 100px;
}





#earth{
    width:350px;
    height:360px;

   
}



#moon{
    width:250px;
    height:125px;

   
}


#earth:hover{
    transform:rotateY(1500deg);
    transition: 8.2s;

}

#moon:hover{
    transition: 5.3s;
    transform: translate(9000px); /*RIP moon moon ran away from us )':*/
    
}




